*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #ccc;
}
#website
{
    width: 1040px;
    margin: auto;
    background-color: #fff;
    height: 1040px;
}
#top
{
    width: 1000px;
    height: 28px;
    margin: auto;
    padding: auto;
    display: flex;
    background-color: #f4f4f4;
}
#top_left
{
    margin-top: 4px;
    margin-left: 40px;
}
.img_top
{
    width: 20px;
    height: 20px;
    border-radius: 1px;
}
#top_right
{
    margin-top: 5px;
    margin-left: 700px;
}
.line_top_right
{
    margin-right: 12px;
}
#top_right ul
{
    display: flex;
}
#top_right ul li
{
    list-style-type: none;
}
#top_right ul li a
{
    text-decoration: none;
    margin-right: 15px;
    color: #999;
}
#top_right ul li a:hover
{
    color: #00f;
}
#header
{
    margin: auto;
    width: 1000px;
    height: 160px;
    display: flex;
    position: relative;
}
#logo_header
{
    margin-left: 100px;
    width: 200px;
   
}
#shopcart
{
    width: 200px;
    display: flex;
    height: 67px;
    position: absolute;
    margin-top: 12px;
    background-color: rgb(212, 211, 211);
    right: 0px;
}

#cart_icon
{
    margin-top: 5px;
    margin-left: 10px;
    width: 130px;
    color: rgb(121, 113, 113);
   
}
.img_cart_icon
{
    margin-left: 12px;
    width: 30px;
    height: 30px;
}
.line_shop_cart
{
    margin-top: 8px;
    height: 50px;
    margin-right: 125px;
}
#info_cart
{
    position: absolute;
    color: red;
    margin-top: 15px;
    width: 150px;
    font-size: 15px;
    text-align: center;
    right: 0px;
    margin-bottom: 10px;
}
.info_cart
{
    width: 200px;
}
#phone_search
{
    position: absolute;
    margin-top: 120px;
    display: flex;
    margin-left: 500px;
}
#header_phone
{
    color: #00f;
}
.img_phone
{
    width: 20px;
    height: 20px;
}

#txtsearch
{
    margin-left: 60px;
    background-color: rgb(212, 211, 211);
    position: absolute;
    width: 240px;
    height: 29px;
    border: 0px;
    outline-color: #ccc; 
}
#btnsearch
{
    position: absolute;
    width: 35px;
    height: 29px;
    margin-left: 265px;
    border: 0;
    background-color: rgb(212, 211, 211);
    cursor: pointer;
} 
.img_search
{
    width: 20px;
    height: 20px;
}
#menu ul
{
    display: flex;
    width: 1000px;
    height: 50px;
    list-style-type: none;
    border: 1px solid rgb(255, 251, 251);
    margin: auto;
    background: black;
}
#menu ul li
{
    border-right: 1px dotted grey;
    height: 50px;
}
#menu ul li a
{
   text-decoration: none;
   padding: 0 20px 0 20px;
   font-weight: bold;
   color: #fff;
   line-height: 45px;
}
#menu ul li:hover
{
    background: #999;
}
#menu ul li a:hover
{
    color: #00f;
}
#main
{
    width: 1000px;
    height: 800px;
    margin: 15px auto;
    display: flex;
}
#main_left
{
    width: 230px;
    height: 800px;
}
#menu_left
{
    width: 200px;
    height: 330px;
    margin: 10px 0 0 14px;
    border:1px solid #cccccc;
    border-radius:6px;
}
#menu_left>ul
{
    padding: 10px 20px 10px 20px;
}
#menu_left li
{
    line-height: 25px;
}
#menu_left>ul>li
{
    border-bottom: 1px solid #999;
}
#menu_left a
{
    color: #00f;
}
#menu_left a:hover
{
    color: #f1004c;
    cursor: pointer;
}
.menu_left
{
    list-style: none;
}
.menu_left a
{
    text-decoration: none;
}
.submenu li
{
    padding-left: 30px;
    background: url(image/arrow.png) no-repeat 8px 8px;
    background-size: 5px;
    list-style: none;
}
.submenu li a
{
    text-decoration: none;
}
#main_right
{
    width: 765px;
    border-left: 1px dotted #333;
    margin-left:20px;
}
ul
{
    list-style: none;
}
#products
{
    margin-left: 17px;
}
#products ul li
{
    width: 230px;
    height: 340px;
    margin-right:7px;
    margin-bottom: 10px;
    float: left;
}
#products ul li:hover
{
    background: #ccc;
    box-shadow: 0 0 5px #2c2c30;
}

.content
{
    width: 210px;
    height: 320px;
    margin:9px 10px 9px 10px;
}
.title
{
    text-align: center;
    margin-top: 6px;
    color: #f09;
}
.price
{
    margin-top: 3px;
    text-align: center;
    font-size: 12px;
    color: #999999;
}